body{
    background: #2a3041;
}

.main-sidebar{
    background: #2a3142;
}

.main-sidebar .sidebar-brand{
    background: #2a3142;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #3b404c!important;
}

input, .select2-selection{
    background: #383b4e!important;
    border: 1px solid gray!important;
    color: #c3c3c3!important;
}

.select2-results, .select2-search, .select2-dropdown, .select2-search__field{
    background-color: #282C36;
    color: white;
}

.select2-selection__rendered{
    color: #c3c3c3!important;
}

.main-sidebar .sidebar-brand a{
    color: white!important;
}

.main-sidebar .sidebar-menu li.active a{
    background: #383b4e;
    color: #b4c9de!important
}

.navbar-bg{
    background: #36394c;
    z-index: 100;
}

.main-content{
    background: #2a3041;
}

.section{
    z-index: 101;
}

.section-header{
    background: #222736!important;
}

.section .section-header h1{
    color: #e9ecef!important;
}

.card{
    background: #222736;
}

.card .card-stats .card-stats-title{
    background: #222736;
}

.selectric, .select2-selection, .form-control{
    background: #282c36!important;
    border-color: #636363!important;
}

.selectric-scroll ul li{
    background: #282c36!important;
    opacity: 1;
}

.selectric-scroll ul li:hover:not(.disabled){
    background: #3b404c!important;
}

.selectric-items li.highlighted{
    background: #3b404c!important;
}

.selectric-scroll ul li:not(.disabled){
    color: white!important;
}


.selectric .label{
    color: white;   
}

.form-group > label{
    color: white!important;
}

.select2-selection__rendered{
    color: white!important;
}

.gradient-bottom:after{
    background-image: unset!important;
}

.shadow-primary{
    box-shadow: 0 2px 6px #313553;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu li.active ul.dropdown-menu li a{
    background: #2a3142;
}

.card .card-header{
    border-bottom: #343b51!important;
}

.btn{
    box-shadow: unset!important;
}

.page-item.disabled .page-link{
    background: #2a3041;
}

div.dataTables_wrapper div.dataTables_filter input{
    background: #353e53;
    border: #2f3358;
}

table.dataTable.no-footer{
    border-bottom: 1px solid #38445d !important;
    color: white!important;
}

div.dataTables_wrapper div.dataTables_length select{
    background-color: #3c3e56!important;
    color: white!important;
}

body.sidebar-mini .main-sidebar:after{
    background-color: #2f3358!important;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a{
    box-shadow: unset!important;
}

thead{
    border-bottom: 2px solid #253350 !important;
}

.note-toolbar-wrapper{
    background: #282C36!important;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    color: #d5d5d5;
    background: #31353f; 
}

.modal-content, .modal-footer{
    background: #2a3041!important;
    color: white!important;
}

.selectgroup-button{
    background: #31353F!important;
}

.fc-state-default{
    background: #303a53!important;
    color: white!important;
}

.fc-unthemed .fc-disabled-day{
    background: #576485;
    color: white;
}

.fc-unthemed td.fc-today{
    background: #222736;
}

.page-item.active .page-link{
    background: #323232!important;
}

.page-item .page-link:hover{
    background: #424040!important;
}

.page-item .page-link{
    background: #323232!important;
}

textarea{
    color: #c3c3c3!important;
}

.fc-view > table th{
    color: white!important;
}

.input-group-prepand .input-group-text{
    background: #282C36!important;
    color: white!important; 
    border-color: #282C36;
}

.selectgroup-input:checked + .selectgroup-button{
    background: #202226!important;
}

.btn:not(.btn-social):not(.btn-social-icon):active, .btn:not(.btn-social):not(.btn-social-icon):focus, .btn:not(.btn-social):not(.btn-social-icon):hover{
    background: #3b404c!important;
    border-color: #3b404c!important;
    color: wheat;
}

.datepicker.dropdown-menu {
  background-color: #3b404c;
  color: #d5d5d5;
}

.note-btn-group .dropdown-menu{
    background: #3b404c;
}

.btn-group>.btn:not(:first-child), .note-btn-strikethrough, .note-para .note-btn-group button{
    background: #31353F!important;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
    color: wheat;
}

.note-editable, .note-editor.note-frame .note-statusbar{
    background: #292f3c!important;
    color: white!important;
}

.btn-group>.btn:not(:first-child), .note-btn-strikethrough, .note-para .note-btn-group button{
    color: wheat;
}
